.newletter{
    background: linear-gradient(rgba(253, 247, 247, 0.525), rgba(35, 35, 35, 0.377)),
    url('../assets/images/bozuy.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 48px;
}

.newslatter__img img{
    width: 100%;
}

.newslatter__content{
    padding: 50px 0;
}

.newslatter__content h2{
    font-size: 40px;
    margin-bottom: 32px;
}

.newslatter__input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 5px;
}

.newslatter__input input{
    border: none;
    font-size: 16px;
    color: var(--heading-color)
}

.newslatter__input input:focus{
    outline: none;
}

.newsletter__btn{
    padding: 8px 24px !important;
    background: var(--secondary-color) !important;
    color:#fff !important;
    font-size: 17px !important ;
}

.newslatter__content p{
    color: var(--heading-color);
    font-size: 18px;
}


@media only screen and (max-width:992px) {
    .newslatter__content h2{
        font-size: 32px;
    }
    
    .newslatter__img{
        display: none;
    }
}

@media only screen and (max-width:580px) {
    .newslatter__content h2{
        font-size: 24px;
    }

    .newslatter__content p{
        display: none;
    }
}